@charset "utf-8";
#tablejuzhong {
    margin-left: auto;
    margin-right: auto;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    text-align: center;
}
