@charset "utf-8";
#juhzong4 {
    margin-left: auto;
    margin-right: auto;
}
#shouyeys1{
    color: rgba(25,43,173,1.00);
    font-family: abril-fatface;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}
